$yellow: #f4d35e;
$blue: #39a9bd;
$darkgrey: #414344;
$lightgrey: #9fa1a3;

body {
    background-color: $blue;
    display: grid;
    grid-template-rows: repeat(min-content, 1fr);
    height: 100vh;
}

img {
    width: 100%;
}