@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_global.scss";
@import "partials/_typography.scss";
@import "partials/_header.scss";
@import "partials/_main.scss";
@import "partials/_footer.scss";
