@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes backgroundFadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes heightGrow23 {
    0% {
        height: 2vh;
        background: rgba(159, 161, 163, 1);
    }

    100% {
        height: 23vh;
        background: rgba(159, 161, 163, 0.6);
    }
}

@keyframes heightGrow25 {
    0% {
        height: 2vh;
        background: rgba(159, 161, 163, 1);
    }

    100% {
        height: 25vh;
        background: rgba(159, 161, 163, 0.6);
    }
}

@keyframes heightGrow30 {
    0% {
        height: 2vh;
        background: rgba(159, 161, 163, 1);
    }

    100% {
        height: 30vh;
        background: rgba(159, 161, 163, 0.6);
    }
}

@keyframes heightGrow35 {
    0% {
        height: 2vh;
        background: rgba(159, 161, 163, 1);
    }

    100% {
        height: 35vh;
        background: rgba(159, 161, 163, 0.6);
    }
}

@keyframes heightGrowFull {
    0% {
        height: 35vh;
    }

    100% {
        height: 85vh;
    }
}

@keyframes mediaHeight {
    0% {
        background: rgba(57, 169, 189, 0)
    }

    100% {
        background: rgba(57, 169, 189, 0.7)
    }
}