// .wrapper {
//   max-width: 1170px;
//   margin: 0 auto;
// }

html {
  height: 100%;
}

body {
  height: 100%;
}

img {
    max-width: 100%;
    display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

form input[type="submit"] {
  border: 1px solid $yellow;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  background-color: $yellow;
  padding: 1rem 2rem;
  transition: all 0.5s;
  color: $darkgrey;
  border-radius: 3%;
  outline: none;
  &:hover {
    background-color: #fff;
    color: $yellow;
  }
}
