.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

// body {
//     display: grid;
//     grid-template-rows: repeat(min-content, 1fr);
//     height: 100vh;
// }

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}