.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

body {
    display: grid;
    background-color: white;
    grid-template-rows: repeat(min-content, 1fr);
}

img {
    max-width: 100%;
    display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

form input[type="submit"] {
  border: 0;
  font-size: 2rem;
  background-color: $yellow;
  padding: 1rem 2rem;
}
