header {
    height: 10vh;
    padding: 25px 50px;
    border-bottom: 1px solid $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    figure {
        display: none;
        width: 70px;
        padding: 0 10rem;
        margin-right: 300px;
    }
}

