header {
    height: 10vh;
    padding: 2.5rem 5rem;
    border-bottom: 1px solid $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        display: flex;
        align-items: center;
    }
    figure {
        width: 7rem;
    }
}

