.mainMap {
    background: #fff url(../../images/world.jpg) top/cover no-repeat;
    min-height: 90vh;
    width: 100%;
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: -10;
}

.mapBackground {
    animation: 2s ease-in forwards 1 backgroundFadeout;
}

.flagFigure {
    width: 20vh;
    margin: 1.5rem 0.25rem;
}

.countryInformation {
    position: absolute;
    left: 24%;
    top: 22%;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 20% 16% 14% 18% 16%;
    grid-gap: 4%;
    height: 90vh;
    overflow: hidden;
}

.countryInformation {
    position: absolute;
}

.grid__box--info {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-right: $gridBorder;
}

.grid__box--bookFlight,
.grid__box--currency,
.grid__box--packing {
    border-left: $gridBorder;
    border-right: $gridBorder;
}

.grid__box--bookFlight {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.grid__box--currency {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.grid__box--packing {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.grid__box--weather {
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    border-left: $gridBorder;
}

.grid__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid__itemNumber {
    writing-mode: vertical-rl;
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.grid__itemInner {
    background: $lightgrey;
    position: relative;
    height: 2.5vh;
}

.grid__itemInner--infoActive {
    animation: 1.2s ease-in forwards 1 heightGrow30;
    &:hover {
        animation: .5s ease-in forwards 1 heightGrowFull;
    }
}

.grid__itemInner--flightsActive
 {
    animation: 1.2s ease-in forwards 1 heightGrow23;
    &:hover {
        animation: .5s ease-in forwards 1 heightGrowFull;
    }
}

.grid__itemInner--currencyActive,
.grid__itemInner--weatherActive, {
    animation: 1.2s ease-in forwards 1 heightGrow25;
    &:hover {
        animation: .5s ease-in forwards 1 heightGrowFull;
    }
}

.grid__itemInner--packingActive {
    animation: 1.2s ease-in forwards 1 heightGrow35;
    &:hover {
        animation: .5s ease-in forwards 1 heightGrowFull;
    }
}

.grid__itemTitle {
    writing-mode: vertical-rl;
    white-space: nowrap;
    position: absolute;
    top: -3rem;
    right: -3rem;
    opacity: 0;
}

.grid__itemTitle--active {
    animation: 1.5s ease-in forwards 1 fadeIn;
}

.gridPicture__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;
    margin-bottom: 0;
    background: rgba(159, 161, 163, 0.6);
    height: 100%;
}

.gridPicture__image {
    max-width: 13rem;
    text-align: center;
    margin-bottom: 5rem;
    opacity: 0;
}

.gridPicture__image--info {
    max-width: 16rem;
    margin-bottom: 0;
}

.gridPicture__image--active {
    animation: 2s ease-in forwards 1 fadeIn;
}

.grid__content {
    opacity: 0;
}

// - - - - - - - - - - - - - - -
// PACKING LIST STYLES
// - - - - - - - - - - - - - - -
.packingList li:not(:last-child) {
    margin-bottom: .5rem;
}

.packingList label {
    margin-left: 1rem;
    text-transform: lowercase;
}












