main {
    background: #fff url(../../images/world.jpg) top/contain no-repeat;
    overflow: hidden;
    min-height: 90vh;
}

.mapBackground {
   background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../../images/argentina.jpg) top/contain no-repeat; 
   overflow: hidden;
   min-height: 90vh;
}

.grid {
    display: grid;
    grid-template-columns: 16% 20% 16% 16% 12%;
    grid-column-gap: 5%;
    width: 100%;
    height: 90vh;
}

.grid__box:not(:first-child),
.grid__box:not(:last-child) {
    border: 1px solid rgba(57, 169, 189, 0.5);
    border-width: 0 1px;
}

.grid__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.grid__itemNumber,
.grid__itemTitle {
    writing-mode: vertical-rl;
}

.grid__itemNumber {
    text-align: right;
    font-size: 2.5rem;
    padding-bottom: 7px;
}

.gridPicture__container {
    position: relative;
    background: $lightgrey;
    height: 2vh;
    transition: height .5s ease-out;
    &:hover {
        height: 90vh;
    }
}

.gridPicture__container--active {
    height: 25vh;
    &--info {
        height: 40vh;
    }
    &--extraInfo {
        height: 30vh;
    }
    &--weather {
        height: 15vh;
    }
}

.grid__itemTitle {
    position: absolute;
    top: -3rem;
    right: -5rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
    display: none;
}

// - - - - - - - - - - - - - - - 
// LIGHTBOX STYLES
// - - - - - - - - - - - - - - - 

.gridPicture__container.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }











// .info {
//     width: 60vw;
//     display: none;
//     margin: 0 auto;
//     padding-top: 0.5rem;
//     .countryName {
//         background-color: white;
//         display: inline-block;
//         padding: 1.5rem;
//     }
//     figure {    
//         border: 1px solid $darkgrey;
//         width: 25%;
//         margin: 3rem 0;
//     }  
//     img {
//         opacity: 0.6;
//     }
// }

// .extraInfo {
//     display: none;
//     margin: 0 auto;
//     align-self: center;
//     width: 100vw;
//     justify-content: space-around;
//     position: absolute;
//     bottom: 0;
// }

//  .moreInfo,
//  .attractions,
//  .currency {
//     width: 25%;
//     box-shadow: 6px -7px 0 244, 211, 94, 0.1;
//     padding: 3rem;
// }
