.mainMap {
    background: #fff url(../../images/world.jpg) top/contain no-repeat;
    overflow: hidden;
    min-height: 90vh;
    width: 100%;
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: -10;
}

.mapBackground {
    overflow: hidden;
    animation: 2s ease-in forwards 1 backgroundFadeout;
}

.flagFigure {
    width: 20vh;
    left: 21.5%;
    top: 50%;
    position: absolute;
}

.grid {
    display: grid;
    grid-template-columns: 16% 20% 16% 16% 12%;
    grid-column-gap: 5%;
    width: 100%;
    height: 90vh;
}

.grid__box:not(:first-child),
.grid__box:not(:last-child) {
    border: 1px solid rgba(57, 169, 189, 0.5);
    border-width: 0 1px;
}

.grid__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.grid__itemNumber,
.grid__itemTitle {
    writing-mode: vertical-rl;
}

.grid__itemNumber {
    text-align: right;
    font-size: 2.5rem;
    padding-bottom: 7px;
}

.gridPicture__container {
    position: relative;
    background: $lightgrey;
    height: 2vh;
    transition: height .5s ease-in;
    // &:hover {
    //     height: 85vh;
    // }
}

.gridPicture__container--infoActive,
.gridPicture__container--currencyActive {
    animation: 1.5s ease-in 2s forwards 1 heightGrow30;
}

.gridPicture__container--packingActive,
.gridPicture__container--weatherActive {
    animation: 1.5s ease-in 2s forwards 1 heightGrow15;
}

.gridPicture__container--extraInfoActive {
    animation: 1.5s ease-in 2s forwards 1 heightGrow20;
}

.grid__itemTitle {
    position: absolute;
    top: -3rem;
    right: -5rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
    opacity: 0;
}

.grid__itemTitle--active {
    animation: 1.5s ease-in 2s forwards 1 fadeIn;
}

.grid__content {
    padding: 10px;
}









