// first media break point
@media (max-width: 1100px) {
    .grid {
        // overflow: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
    }

    .countryInformation {
        position: static;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 16%;
    }

    h2 {
        font-size: 6rem;
    }

    h3 {
        font-size: 4rem;
    }

    .flagFigure {
        width: 15vh;
    }

    .grid__box {
        border: none;
    }

    .grid__box--info {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        position: relative;
    }

    .grid__box--info::before {
        content: "";
        height: 150vh;
        width: 1px;
        background: $blue;
        position: absolute;
        top: 0;
        left: 0;
    }

    .grid__box--info::after {
        content: "";
        height: 150vh;
        width: 1px;
        background: $blue;
        position: absolute;
        top: 0;
        right: 0;
    }

    .grid__box--bookFlight {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        position: relative;
    }

    .grid__box--bookFlight::after {
        content: "";
        height: 1px;
        width: 150vw;
        background: $blue;
        position: absolute;
        bottom: 0;
        left: -100vw;
    }

    .grid__box--currency {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        position: relative;
    }

    .grid__box--currency::before {
        content: "";
        height: 150vh;
        width: 1px;
        background: $blue;
        position: absolute;
        top: -100vh;
        right: 0;
    }

    .grid__box--packing {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .grid__box--weather {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        position: relative;
    }

    .grid__box--weather::before {
        content: "";
        height: 150vh;
        width: 1px;
        background: $blue;
        position: absolute;
        top: -100vh;
        left: 0;
    }

    .grid__box--weather::after {
        content: "";
        height: 1px;
        width: 150vw;
        background: $blue;
        position: absolute;
        top: 0;
        left: -100vw;
    }

    .grid__item {
        justify-content: flex-start;
        margin-top: 1rem;
    }

    .grid__itemInner {
        height: 2vh;
    }

    .grid__itemInner--infoActive,
    .grid__itemInner--flightsActive,
    .grid__itemInner--currencyActive,
    .grid__itemInner--weatherActive,
    .grid__itemInner--packingActive {
        animation: 1.2s ease-in forwards mediaHeight;
        // height: calc(100% - 40px);
        // background: rgba(57, 169, 189, 0.7);
        &:hover {
            animation: none;
        }
    }

    .grid__itemTitle {
        display: none;
    }

    .gridPicture__container {
        display: none;
    }
}

// second media breakpoint
@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    header {
        flex-direction: column;
        height: 15rem;
        padding: 0;
        padding-bottom: 2.5rem;
    }

    .mainMap {
        top: 20vh;
    }   
}

// third media breakpoint
@media (max-width: 550px) {
    .grid {
        grid-template-columns: 1fr;
        
    }
    
    .logo {
        margin-top: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    form input[type="submit"] {
        font-size: 1.6rem;
    }
}