// first media break point
@media (max-width: 1100px) {
  body {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 4rem;
  }

  h5 {
    font-size: 3rem;
  }

  p {
    margin-bottom: 2rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
  }

  .countryInformation {
    position: static;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
  }

  .flagFigure {
    width: 15vh;
  }

  .grid__box {
    border: none;
  }

  .grid__box--info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
  }

  .grid__box--info::before {
    content: "";
    height: 150vh;
    width: 1px;
    background: $blue;
    position: absolute;
    top: 0;
    left: 0;
  }

  .grid__box--info::after {
    content: "";
    height: 150vh;
    width: 1px;
    background: $blue;
    position: absolute;
    top: 0;
    right: 0;
  }

  .grid__box--bookFlight {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    position: relative;
  }

  .grid__box--bookFlight::after {
    content: "";
    height: 1px;
    width: 150vw;
    background: $blue;
    position: absolute;
    bottom: 0;
    left: -100vw;
  }

  .grid__box--currency {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
  }

  .grid__box--currency::before {
    content: "";
    height: 150vh;
    width: 1px;
    background: $blue;
    position: absolute;
    top: -100vh;
    right: 0;
  }

  .grid__box--packing {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .grid__box--weather {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    position: relative;
  }

  .grid__box--weather::before {
    content: "";
    height: 150vh;
    width: 1px;
    background: $blue;
    position: absolute;
    top: -100vh;
    left: 0;
  }

  .grid__box--weather::after {
    content: "";
    height: 1px;
    width: 150vw;
    background: $blue;
    position: absolute;
    top: 0;
    left: -100vw;
  }

  .grid__item {
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .grid__itemNumber {
    font-size: 2rem;
  }

  .grid__itemInner {
    background: $blue;
    height: 2vh;
  }

  .grid__itemInner--infoActive,
  .grid__itemInner--flightsActive,
  .grid__itemInner--currencyActive,
  .grid__itemInner--weatherActive,
  .grid__itemInner--packingActive {
    animation: none;
    height: 87.5%;
    background: rgba(57, 169, 189, 0.7);
    &:hover {
      animation: none;
    }
  }

  .grid__itemInner--infoActive {
    height: 88%;
  }

  .grid__itemTitle {
    display: none;
  }

  .gridPicture__container {
    background: none;
    padding: 1.5rem;
  }

  .gridPicture__image {
    display: none;
  }

  .packingList li:not(:last-child) {
    margin-bottom: 0;
  }
}

// second media breakpoint
@media (max-width: 850px) {
  header {
    flex-direction: column;
    height: 15rem;
    padding: 0;
    padding-bottom: 2.5rem;
  }

  h5 {
    font-size: 3.5rem;
  }

  .mainMap {
    top: 25vh;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 30% 1fr;
    overflow: visible;
  }

  .countryInformation {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 10%;
    padding-left: 15%;
  }

  .countryInformation h3 {
    order: -1;
  }

  .grid__box--info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .grid__box--bookFlight {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .grid__box--currency {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .grid__box--packing {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .grid__box--weather {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .grid__box--info::before,
  .grid__box--info::after,
  .grid__box--currency::before,
  .grid__box--weather::before {
    width: 0;
  }

  .grid__box--bookFlight::after,
  .grid__box--weather::after {
    height: 0px;
  }

  .grid__itemNumber {
    font-size: 2.5rem;
    // padding: .25rem;
  }

  .gridPicture__container {
    padding: 2.5rem;
  }

  .gridPicture__container--info {
    padding: 3rem;
  }

  .gridPicture__container--currency {
    padding: 3.5rem;
  }

  .gridPicture__container--weather {
    padding-left: 4rem;
    padding-right: 2rem;
  }
}

// third media breakpoint
@media (max-width: 550px) {
  body {
    font-size: 2rem;
  }

  .logo {
    margin-top: 1rem;
  }

  h1 {
    font-size: 2rem;
    padding-left: 1rem;
  }

  h5 {
    font-size: 4rem;
  }

  form input[type="submit"] {
    font-size: 1.6rem;
  }

  .mainMap {
    background: #fff url(../../images/world.jpg) top/cover no-repeat;
  }

  .grid {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
  }

  .countryInformation {
    align-items: center;
    padding-top: 5%;
    padding-left: 0;
    text-align: center;
  }

  .grid__item {
    margin-bottom: 3rem;
  }

  .gridPicture__container {
    padding: 2.5rem 1rem;
  }

  .gridPicture__container--weather {
    padding: 2.5rem 2rem;
  }
}
