html {
    font-size: 62.5%;
}

body {
    font-family: $main-font;
    font-size: 1.8rem;
    letter-spacing: .5px;
    color: $darkgrey;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-family: $main-font;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2, h3 {
    font-family: $heading-font;
    position: absolute;
}

h2 {
    font-size: 8rem;
    top: 30%;
    left: 21%;
    letter-spacing: 7px;
}

h3 {
    font-size: 5rem;
    top: 40%;
    left: 21.5%;
    text-transform: lowercase;
}

h4 {
    font-weight: normal;
}

em {
    font-weight: bold;
}
