html {
    font-size: 62.5%;
}

body {
    font-family: $main-font;
    font-size: 1.8rem;
    letter-spacing: .05rem;
    line-height: 3rem;
    color: $darkgrey;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1 {
    font-family: $main-font;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

h2, h3 {
    font-family: $heading-font;
    line-height: 4rem;
}

.displayAnimation {
    animation: 1.5s ease-in 2s forwards 1 fadeIn;
}

h2 {
    font-size: 8rem;
    line-height: 5.5rem;
    letter-spacing: .7rem;
}

h3 {
    font-size: 5rem;
    text-transform: lowercase;
    margin-left: .5rem;
}

h4 {
    font-weight: normal;
    font-size: 2rem;
}

h5 {
    font-family: $heading-font;
    font-size: 3.5rem;
    text-transform: lowercase;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 5rem;
}

.grid__itemTitle--weather {
    display: none;
}
