html {
    font-size: 62.5%;
}

body {
    font-family: $main-font;
    font-size: 1.6rem;
}

h1, h2 {
  font-family: $heading-font;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
}

h1 {
    font-size: 4rem;
}