$yellow: #f4d35e;
$blue: #39a9bd;
$darkgrey: #414344;
$lightgrey: #9fa1a3;

$heading-font: "Reenie Beanie", sans-serif;
$main-font: "Playfair Display", serif;

$gridBorder: 1px solid rgba(57, 169, 189, 0.5);