$yellow: #f4d35e;
$blue: #39a9bd;
$darkgrey: #414344;
$lightgrey: #9fa1a3;

$heading-font: "Londrina Outline", sans-serif;
$main-font: "Kosugi", sans-serif;

// @mixin heading-text($font-size, $color: #fff) {
//     font-size: $font-size;
//     font-family: $heading-font;
//     font-weight: 600;
//     text-transform: uppercase;
//     color: $color;
// }