article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes backgroundFadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }

@keyframes gridBgFade {
  0% {
    background: #39a9bd; }
  100% {
    background: rgba(57, 169, 189, 0.7); } }

@keyframes heightGrow23 {
  0% {
    height: 2vh;
    background: #39a9bd; }
  100% {
    height: 23vh;
    background: rgba(57, 169, 189, 0.7); } }

@keyframes heightGrow25 {
  0% {
    height: 2vh;
    background: #39a9bd; }
  100% {
    height: 25vh;
    background: rgba(57, 169, 189, 0.7); } }

@keyframes heightGrow30 {
  0% {
    height: 2vh;
    background: #39a9bd; }
  100% {
    height: 30vh;
    background: rgba(57, 169, 189, 0.7); } }

@keyframes heightGrow35 {
  0% {
    height: 2vh;
    background: #39a9bd; }
  100% {
    height: 35vh;
    background: rgba(57, 169, 189, 0.7); } }

@keyframes heightGrowFull {
  0% {
    height: 35vh; }
  100% {
    height: 85vh; } }

@keyframes mediaHeight {
  0% {
    height: 2vh;
    background: #39a9bd; }
  100% {
    height: calc(100% - 40px);
    background: rgba(57, 169, 189, 0.7); } }

html {
  height: 100%; }

body {
  height: 100%; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  list-style-position: outside; }

form input[type="submit"] {
  border: 1px solid #f4d35e;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #f4d35e;
  padding: 1rem 2rem;
  transition: all 0.5s;
  color: #414344;
  border-radius: 3%;
  outline: none; }
  form input[type="submit"]:hover {
    background-color: #fff;
    color: #f4d35e; }

.hidden {
  display: none; }

html {
  font-size: 62.5%; }

body {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  letter-spacing: .05rem;
  line-height: 3rem;
  color: #414344; }

h1, h2, h3, h4, h5 {
  margin: 0; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .2rem; }

h2, h3 {
  font-family: "Reenie Beanie", sans-serif;
  line-height: 4rem; }

.displayAnimation {
  animation: 1.5s ease-in 2s forwards 1 fadeIn; }

h2 {
  font-size: 8rem;
  line-height: 5.5rem;
  letter-spacing: .7rem; }

h3 {
  font-size: 5rem;
  text-transform: lowercase;
  margin-left: .5rem; }

h4 {
  font-weight: normal;
  font-size: 2rem; }

h5 {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 3.5rem;
  text-transform: lowercase;
  margin-bottom: .5rem; }

p {
  margin-top: 0; }

.grid__itemTitle--weather {
  display: none; }

header {
  height: 10vh;
  padding: 2.5rem 5rem;
  border-bottom: 1px solid #39a9bd;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .logo {
    display: flex;
    align-items: center; }
  header figure {
    width: 7rem; }

.mainMap {
  background: #fff url(../../images/world.jpg) top/cover no-repeat;
  min-height: 90vh;
  width: 100%;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: -10; }

.mapBackground {
  animation: 2s ease-in forwards 1 backgroundFadeout; }

.flagFigure {
  width: 20vh;
  margin: 1.5rem 0.25rem; }

.countryInformation {
  position: absolute;
  left: 24%;
  top: 22%; }

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 20% 16% 14% 18% 16%;
  grid-gap: 4%;
  height: 90vh;
  overflow: hidden; }

.countryInformation {
  position: absolute; }

.grid__box--info {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-right: 1px solid rgba(57, 169, 189, 0.5); }

.grid__box--bookFlight,
.grid__box--currency,
.grid__box--packing {
  border-left: 1px solid rgba(57, 169, 189, 0.5);
  border-right: 1px solid rgba(57, 169, 189, 0.5); }

.grid__box--bookFlight {
  grid-column: 2 / 3;
  grid-row: 1 / 3; }

.grid__box--currency {
  grid-column: 3 / 4;
  grid-row: 1 / 3; }

.grid__box--packing {
  grid-column: 4 / 5;
  grid-row: 1 / 3; }

.grid__box--weather {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  border-left: 1px solid rgba(57, 169, 189, 0.5); }

.grid__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.grid__itemNumber {
  writing-mode: vertical-rl;
  font-size: 2.5rem;
  padding-bottom: .5rem; }

.grid__itemInner {
  background: #39a9bd;
  position: relative;
  height: 2.5vh; }

.grid__itemInner--infoActive {
  animation: 1.2s ease-in forwards 1 heightGrow35; }
  .grid__itemInner--infoActive:hover {
    animation: .5s ease-in forwards 1 heightGrowFull; }

.grid__itemInner--flightsActive {
  animation: 1.2s ease-in forwards 1 heightGrow23; }
  .grid__itemInner--flightsActive:hover {
    animation: .5s ease-in forwards 1 heightGrowFull; }

.grid__itemInner--currencyActive,
.grid__itemInner--weatherActive {
  animation: 1.2s ease-in forwards 1 heightGrow25; }
  .grid__itemInner--currencyActive:hover,
  .grid__itemInner--weatherActive:hover {
    animation: .5s ease-in forwards 1 heightGrowFull; }

.grid__itemInner--packingActive {
  animation: 1.2s ease-in forwards 1 heightGrow30; }
  .grid__itemInner--packingActive:hover {
    animation: .5s ease-in forwards 1 heightGrowFull; }

.grid__itemTitle {
  writing-mode: vertical-rl;
  white-space: nowrap;
  position: absolute;
  top: -3rem;
  right: -3rem;
  opacity: 0; }

.grid__itemTitle--active {
  animation: 1.5s ease-in forwards 1 fadeIn; }

.gridPicture__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin: 1.8rem;
  margin-bottom: 0;
  background: rgba(159, 161, 163, 0.8);
  height: 100%; }

.gridPicture__image {
  max-width: 13rem;
  text-align: center;
  margin-bottom: 8rem;
  opacity: 0; }

.gridPicture__image--info {
  max-width: 15rem; }

.gridPicture__image--active {
  animation: 2s ease-in forwards 1 fadeIn; }

.grid__content {
  opacity: 0; }

.packingList li:not(:last-child) {
  margin-bottom: .5rem; }

.packingList label {
  margin-left: 1rem;
  text-transform: lowercase; }

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%; }
  .countryInformation {
    position: static;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16%; }
  h2 {
    font-size: 6rem; }
  h3 {
    font-size: 4rem; }
  .flagFigure {
    width: 15vh; }
  .grid__box {
    border: none; }
  .grid__box--info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative; }
  .grid__box--info::before {
    content: "";
    height: 150vh;
    width: 1px;
    background: #39a9bd;
    position: absolute;
    top: 0;
    left: 0; }
  .grid__box--info::after {
    content: "";
    height: 150vh;
    width: 1px;
    background: #39a9bd;
    position: absolute;
    top: 0;
    right: 0; }
  .grid__box--bookFlight {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    position: relative; }
  .grid__box--bookFlight::after {
    content: "";
    height: 1px;
    width: 150vw;
    background: #39a9bd;
    position: absolute;
    bottom: 0;
    left: -100vw; }
  .grid__box--currency {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative; }
  .grid__box--currency::before {
    content: "";
    height: 150vh;
    width: 1px;
    background: #39a9bd;
    position: absolute;
    top: -100vh;
    right: 0; }
  .grid__box--packing {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .grid__box--weather {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    position: relative; }
  .grid__box--weather::before {
    content: "";
    height: 150vh;
    width: 1px;
    background: #39a9bd;
    position: absolute;
    top: -100vh;
    left: 0; }
  .grid__box--weather::after {
    content: "";
    height: 1px;
    width: 150vw;
    background: #39a9bd;
    position: absolute;
    top: 0;
    left: -100vw; }
  .grid__item {
    justify-content: flex-start;
    margin-top: 1rem; }
  .grid__itemInner {
    height: 2vh; }
  .grid__itemInner--infoActive,
  .grid__itemInner--flightsActive,
  .grid__itemInner--currencyActive,
  .grid__itemInner--weatherActive,
  .grid__itemInner--packingActive {
    animation: 1.2s ease-in forwards mediaHeight; }
    .grid__itemInner--infoActive:hover,
    .grid__itemInner--flightsActive:hover,
    .grid__itemInner--currencyActive:hover,
    .grid__itemInner--weatherActive:hover,
    .grid__itemInner--packingActive:hover {
      animation: none; }
  .grid__itemTitle {
    display: none; }
  .gridPicture__container {
    display: none; } }

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr; }
  header {
    flex-direction: column;
    height: 15rem;
    padding: 0;
    padding-bottom: 2.5rem; }
  .mainMap {
    top: 20vh; } }

@media (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr; }
  .logo {
    margin-top: 1rem; }
  h1 {
    font-size: 2rem; }
  form input[type="submit"] {
    font-size: 1.6rem; } }
